.productContainer {
    background-color: rgb(46, 46, 46);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    margin: 12px;
}
.productContainer img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.productContainer h2 {
    color: white;
}
.productContainer span {
    color: rgb(182, 182, 182);
    margin-bottom: 20px;
}
.productContainer button {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    color: lightgray;
    background-color: rgb(32, 34, 139);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.productContainer button:hover {
    background-color: rgb(36, 38, 146);
}

.saleProductContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 28rem;
    height: 6rem;
    background-color: rgb(46, 46, 46);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.saleProductContainer img {
    width: 150px;
    border-radius: 5px;
}

.saleProductContainer h2 {
    height: 10px;
}

.saleProductContainer .price {
    color: rgb(0, 190, 0);
    height: 30px;
}

.saleProductContainer .category {
    display: none;
}


.saleProductContainer .remove {
    height: 30px;
    width: 30px;
    background-color: rgb(243, 64, 64);
    color: white;
    border: 0;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px;
}