:root {
  --cinza: #333333;
}

body {
  background-color: #222222;
  color: lightgray;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--cinza);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

header .divSearch.menu {
  width: 50%;
  height: 60%;
}

header .divSearch.menu button {
  background-color: rgb(46, 46, 46);
  box-shadow: none;
  cursor: inherit;
}

header .divSearch.menu svg {
  filter: brightness(100%);
  cursor: unset;
}

header img {
  width: 85px;
  margin-right: 75px;
}

header svg {
  font-size: 40px;
  cursor: pointer;
  transition: filter 0.1s;
  filter: brightness(80%);
  margin-left: 75px;
}

header svg:hover {
  filter: brightness(100%);
}

.carrinho {
  height: 100vh;
  width: 500px;
  background-color: rgb(54, 54, 54);
  position: fixed;
  margin-top: 80px;
  right: 0;
  transform: translateX(500px);
  transition: transform 0.5s;
  z-index: 0;
}

.carrinho.open {
  transform: translateX(0px);
  transition: transform 0.5s;
}

.carrinho .order {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.carrinho .order h2 {
  margin-left: 120px;
}

.carrinho svg {
  font-size: 35px;
  cursor: pointer;
  margin: 10px;
}

.finalizarCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: rgb(46, 46, 46);
  margin-top: 15px;
  padding: 5px;
  padding-bottom: 15px;
  width: 450px;
  border-radius: 15px;
}

.finalizarCompra h3 {
  font-size: 25px;
  height: 20px;
}

.finalizarCompra button {
  height: 50px;
  width: 200px;
  border: 0;
  background-color: rgb(32, 34, 139);
  color: lightgray;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.saleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 65vh;
}

@media (max-width: 1366px) {
  .saleContainer {
    height: 50vh;
  }
}

.saleContainer > div {
  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1300px;
  padding-top: 80px;
  margin: auto;
}

.backgroundImg {
  margin-top: 30px;
  width: 100%;
  height: 225px;
}

.backgroundImg img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.restaurantInfo {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.restaurantInfo h2 {
  font-size: 40px;
}

.logo {
  width: 70px;
  padding-right: 30px;
}

.logo img {
  width: 100%;
  border-radius: 35px;
}

.divSearch {
  padding-left: 20px;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  width: 99%;
  height: 60px;
  box-shadow: 0px 0px 5px 0px rgb(27, 27, 27);
  display: flex;
}

.divSearch svg {
  font-size: 35px;
  margin: auto;
}

.divSearch button {
  width: 250px;
  font-size: 18px;
  background-color: rgb(32, 34, 139);
  color: white;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.246);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.divSearch button:hover {
  background-color: rgb(36, 38, 146);
}

.search {
  margin-left: 30px;
  width: 75%;
  height: 100%;
  font-size: 18px;
  color: rgb(231, 231, 231);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
}

.destaque {
  display: flex;
  align-items: center;
}

.searchTag {
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(23, 23, 23);
}

.searchTag svg {
  margin-left: 5px;
}

.searchTag.hide {
  visibility: hidden;
}

footer {
  height: 200px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
  ::-webkit-scrollbar-thumb{
  background: #5f5f5f;
  border-radius: 10px;
}
  ::-webkit-scrollbar-track{
  background: #ffffff00;
  border-radius: 10px;
}